body {
  background-image: url('../images/standby.png');
  -webkit-text-stroke: 1.8px #006d98;
}

/*--------------------------------------------------
sponsor logo
--------------------------------------------------*/
.container {
  position: relative;
  width: 175px;
  height: 170px;
}

.image1 {
  position: absolute;
  left: 410px;
  top: 190px;
}

.image2 {
  position: absolute;
  left: 400px;
  top: 210px;
}

.image:nth-of-type(1) {
  padding-left: 20px;
}

/*--------------------------------------------------
Schedule
--------------------------------------------------*/
.next1 {
  position: relative;
  width: 555px;
  height: 60px;
  top: 400px;
  left: 35px;
}

.next1 .title {
  font-size: 32px;
  font-family: 'GenEiMGothic2-Black';
}

.category_runner {
  width: 510px;
  height: 60px;
}

.category_runner .category::before {
  content: '(';
}

.category_runner .category::after {
  content: ')';
}

.category_runner .category,
.category_runner .runner {
  font-size: 24px;
  font-family: 'GenEiMGothic2-Black';
  -webkit-text-stroke: 1.5px #006d98;
}

.bgm {
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 1235px;
  top: 960px;
  width: 657px;
  height: 80px;
}

.bgm > span {
  position: relative;
  font-size: 28px;
  font-family: 'GenEiMGothic2-Black';
  -webkit-text-stroke: 1.5px #006d98;
}
